html, body {
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	overscroll-behavior-y: none;
	position: relative;
	box-sizing: border-box;
}

:root {
  --color-fire: #FB6542;
  --color-flood: #375E97;
  --color-storm: #379797;
  --color-massmove: #5a5f5f;
  --color-earthquake: #3F681C;
	--color-main-green: #29bb5a;
	--color-main-darkgreen: #3f681b;
}


h1 {
  font-size: 1.4em;
  padding: 0.4rem 0rem;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: normal;
}

h2 {
  font-size: 1.2em;
  padding: 0.3rem 0;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: normal;
}

h3 {
  font-size: 1em;
  padding: 0.2rem 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	font-family: inherit;
	font-size: inherit;
	outline: none;
	border-radius: 3px;
	color: white;
	background: rgba(33,43,54,.4);
	border: 0;
	padding: 0.4em;
	/* height: 32px; */
	margin: 0;
}

.round {
  height: 36px;
  width: 36px;
  background: #ce939300;
  border-radius: 50%;
  font-size: 2rem;
  padding: 0;
  border: 1px solid rgba(230, 230, 230, 0.705);
	margin: .2em;
}

.btn-simple {
	background: none;
	color: #222222;
}

.btn-simple:hover {
	color: #000000;
	background: none;
}

.round:hover {
	background: var(--color-main-green);
	cursor: pointer;
}

button:hover {
	background: rgba(33, 43, 54, 0.63);
	cursor: pointer;
}

button:active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

/* MAP */

.marker {
	background: blue;
	background-size: cover;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.fire-marker {
  background-image: url('icons/icons8-fire-60.png');
	background-size: cover;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.flood-marker {
	background-image: url('icons/icons8-floods-50.png');
	background-size: cover;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
